.my-form-generate {
    background-color: black;
    border-radius: 6px;
    width: 80%;
    height: 40rem;
    margin: auto;
    margin-top: 20px;
    z-index: 1;
  }
  .generate-control {
    background-color: #484545;
    color: #1A1919;
    margin: 0px 20px 0px 20px;
    width: 95%;
    border-radius: 6px;
    border: 0px;
    height: 40px;
  }
  .label-generate {
    color: #7C0514;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
  }
  .btn-generate {
    background-color: #7C0514;
    color: black;
    padding: 3px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    padding: 9px 31px 9px 31px;
    border-radius: 6px;
    border: 0px;
  }
  .paragraf-generate {
    color: white;
    position: absolute;
    font-size: medium;
    z-index: 3;
    display: grid;
    width: 13vh;
    margin-top: 37vh;
    margin-left: 95%;
  }
  .img-generate {
    position: absolute;
    z-index: 3;
    display: grid;
    width: 80vh;
    height: 60vh;
    margin-top: 40vh;
    margin-left: 68%;
  }
  .img-generate-ballon {
    position: absolute;
    z-index: 3;
    display: grid;
    width: 70vh;
    height: 20vh;
    margin-top: 29vh;
    margin-left: 70%;
  }
  /*css to make the site responsive*/
  @media screen and (max-width: 1800px) {
    .img-generate {
      margin-top: 60vh;
      margin-left: 70%;
    }
    .paragraf-generate {
      font-size: small;
      margin-top: 55vh;
      margin-left: 90%;
    }
    .img-generate-ballon {
      margin-top: 50vh;
      margin-left: 77%;
    }
  }
  @media screen and (max-width: 1000px) {
    .img-generate {
      margin-top: 50vh;
      margin-left: 65%;
    }
    .paragraf-generate {
      width: 10vh;
      margin-top: 45vh;
      margin-left: 90%;
    }
    .img-generate-ballon {
      margin-top: 41vh;
      margin-left: 74%;
    }
  }
  @media screen and (max-width: 375px) {
    .generate-control {
      width: 90%;
    }
    .img-generate {
      display: grid;
      width: 40vh;
      height: 30vh;
      margin-top: 72vh;
      margin-left: 50%;
    }
    .paragraf-generate {
      font-size: xx-small;
      margin-top: 68vh;
      margin-left: 87%;
    }
    .img-generate-ballon {
      width: 45vh;
      height: 15vh;
      margin-top: 63vh;
      margin-left: 54%;
    }
  }