.contentDiv {
  position: absolute;
  left: 92%;
  bottom: 8vh;
  padding-left: 5vh;
}
.back-to-top{
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    background-color: black;
     box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
     perspective: 5.5cm;
}
.my-fa-solid {
  padding: 3px;
  font-size: 30px;
  color: var(--background);
}
