.contentDiv {
  display: flex;
  flex-wrap: nowrap;
  float: right;
  position: relative;
  bottom: -17px;
}
.back-to-top{
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    background-color: black;
     box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
     perspective: 5.5cm;
}
.my-fa-solid {
  padding: 3px;
  font-size: 30px;
  color: #B90118;
}
