.container-fluid {
    background-color: #484545;
    color: black;
    height: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
    justify-content: space-around;
    align-items: center;
}
.link {
    color: black;
    text-decoration: none;
}
.link:hover {
    color: black;
}
.terms {
    width: 100%;
}
p {
    width: 100%;
    margin: 0;
}
.footerLinks {
    justify-content: end;
    gap: 30px;
}
.develop {
    display: flex;
    gap: 10px;
}
.fa-copyright {
    margin-top: 18px;
}
/*css to make the site responsive*/
@media screen and (max-width: 995px) {
    .fa-comment-dots {
       display: none;
    }
    .link {
        border: none;
    }
}
@media screen and (max-width: 600px) {
    .container-fluid {
        height: 8vh;
    }
    .fa-copyright {
        margin: 0px;
    }
    p {
        font-size: x-small;
    }
}
@media screen and (max-width: 400px) {
    .fa-regular {
        width: 20px;
    }
}