@import url('index.css');
.login-container {
  background-color: var(--background);
}
.my-login {
  background-color: var(--form-bg);
  border-radius: 6px;
  width: 80%;
  height: 42rem;
  margin: auto;
  padding: 20px;
  color: white;
}
.text-login {
  color: white;
  text-align: center;
  font-size: 100px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.form-check-input-container {
   margin-right: 10px;
  }
  .form-input-login {
    background-color: var(--main-bg-color);
    width: 100%;
    height: 80px;
    font-size: 30px;
    border: none;
    outline: var(--main-bg-color);
  }
  .form-check-input-login  {
    background-color: var(--main-bg-color);
  }
  .btn-login {
    background-color: var(--background);;
    color: var(--btn);
    font-weight: 500;
    font-size: 30px;
    margin-left: 20px;
    padding: 7px 25px 7px 25px;
    border-radius: 6px;
    border: none;
  }
  .btn-login-google {
    text-align: center;
  }
  .login-google {
    background-color: black;
    padding: 0;

  }
  .line-login {
    border: solid 1px var(--main-bg-color);
    height: 1px;
  }
  .forgot-link {
    color: white;
    font-style: italic;
    text-decoration: none;
    font-size: smaller;
    text-align: end;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  .forgot-link:hover {
    color: var(--main-bg-color);
  }
  /*css to make the site responsive*/
@media screen and (max-width: 1000px) {
  .text-login {
    font-size: 50px;
  }
  .btn-login-google {
    height: 40px;
  }
}