.my-login {
  background-color: black;
  border-radius: 6px;
  width: 80%;
  height: 42rem;
  margin: auto;
  padding: 20px;
  color: white;
}
.text-login {
  color: white;
  text-align: center;
  font-size: 100px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.form-check-input-container {
   margin-right: 10px;
  }
  .form-input-login {
    background-color: #635B5B;
    width: 100%;
    height: 80px;
    font-size: 30px;
    border: none;
    outline: #635B5B;
  }
  .form-check-input-login  {
    background-color: #635B5B;
  }
  .btn-login {
    background-color: #9A0013;
    color: white;
    font-weight: 500;
    font-size: 30px;
    margin-left: 20px;
    padding: 7px 25px 7px 25px;
    border-radius: 6px;
    border: none;
  }
  .btn-login-google {
    text-align: center;
  }
  .login-google {
    background-color: black;
    padding: 0;

  }
  .line-login {
    border: solid 1px #635B5B;
    height: 1px;
  }
  .forgot-link {
    color: white;
    font-style: italic;
    text-decoration: none;
    font-size: smaller;
    text-align: end;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  .forgot-link:hover {
    color: #635B5B;
  }
  /*css to make the site responsive*/
@media screen and (max-width: 1000px) {
  .text-login {
    font-size: 50px;
  }
  .btn-login-google {
    height: 40px;
  }
}