.navbar-box {
    background-color: #484545;
    height: 23vh;
    width: 100%;
    padding-left: 5vh;
    padding-right: 5vh;
}   
.navbar-container {
    padding: 0; 
    height: 20vh; 
}
.menu {
    display: grid;
    justify-items: end;
    position: relative;
}
.my-btn {
    background-color: #7C0514;
    color: black;
    padding: 3px;
    font-weight: 500;
    margin-left: 20px;
    padding: 2px 5px 2px 5px;
}
.icon {
    color: black;
    font-size: xx-large;
    margin-left: 20px;
}
.my-dropdown-menu {
    background-color: #7C0514;
    border-radius: 6px;
    position: absolute;
}
li {
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
}
.my-dropdown-item {
    border-bottom: solid 1px black;
    color: black;
    padding-left: 0;
}
.my-dropdown-item:focus {
    outline: none;
  }
.hide-buttons {
    display: none;
    visibility: hidden;
  }
.my-hide-buttons {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0;
    border-bottom: solid 1px black;
    color: black;
}
.show-buttons {
    visibility: visible;
}
.btnlanguage {
    border-radius: 6px;
    padding: 2px 6px 2px 6px;
}
.btnlanguage::after {
    border: 0 !important;
}
.language {
    justify-content: end;
}
.dropdown-language {
    background-color: white;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-btn {
    width: 90%;
    border-radius: 6px;
    background-color: #7C0514;
    margin: 0 5px 0 5px;
}
.my-form-label {
    margin-bottom: 0px;
}
.my-navbar-toggler {
    border-radius: 6px;
    background-color: black;
}
.img {
    margin-top: 2px;
    height:180px;
    width: 200px; 
}

.custom-dropdown-toggle::after {
    border: 0 !important;
}
/*css to make the site responsive*/
@media screen and (max-width: 1000px) {
    .menu {
        width: 20%;
    }
    .navbar-container {
        margin: auto;
    }
    .language {
        border-radius: 6px;
        margin-left: 2rem;
        font-size: small;
    }
    .my-collapse {
        margin-top: 70px;
        background-color: #7C0514;
        border-radius: 6px;
        width: 24vh;
        height: 24vh;
        display: inline-block;
        position: fixed;
    }
    .link-collapse {
        border-bottom: solid 1px black;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 500;
        text-decoration: none;
        color: black;
    }  
    .icon {
        margin: 0;
        font-size: small;
    }
    .my-btn {
        margin: 0px;
        padding: 0;
    }
    .my-btn:focus {
        outline: none;
        box-shadow: none;
      }
    .hide-buttons {
        display: contents;
        visibility: visible;
      }
    .show-buttons {
        display: none;
        visibility: hidden;
    }
  }
@media screen and (max-width: 550px) {
    .language {
        border-radius: 6px;
        margin-left: 2rem;
        font-size: xx-small;
    } 
    .img {
        height: 100px;
        width: 100px;
    }
    .my-collapse {
        height: 27vh;
    }
}
@media screen and (max-width: 375px) {
    .navbar-container {
        display: flex;
        flex-wrap: nowrap;
    }
    .my-collapse {
        font-size: small;
        height: 26vh;
    }
    .my-btn {
        font-size: small;
    }
    .menu {
        margin-right: 40px;
    }
}