.navbar-box {
    background-color: #484545;
    height: 21vh;
    width: 100%;
    padding-left: 5vh;
    padding-right: 5vh;
}   
.navbar-container {
    padding: 0; 
    height: 20vh; 
}
.menu {
    display: grid;
    justify-items: end;
    position: relative;
    z-index: 3;
}
.my-btn {
    background-color: #7C0514;
    color: black;
    padding: 3px;
    font-weight: 500;
    margin-left: 20px;
    padding: 2px 5px 2px 5px;
}
.icon {
    color: black;
    font-size: xx-large;
    margin-left: 20px;
}
.my-dropdown-menu {
    background-color: #7C0514;
    border-radius: 6px;
    position: absolute;
    z-index: 3;
}
li {
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
}
.my-dropdown-item {
    border-bottom: solid 1px black;
    color: black;
    padding-left: 0;
}
.my-dropdown-item:hover {
    background-color: #7C0514;
    font-weight: 500;
  }
.hide-buttons {
    display: none;
    visibility: hidden;
  }
.my-hide-buttons {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0;
    border-bottom: solid 1px black;
    color: black;
}
.show-buttons {
    visibility: visible;
    cursor: pointer;
}
.btnlanguage {
    border-radius: 6px;
    padding: 2px 6px 2px 6px;
}
.btnlanguage::after {
    border: 0 !important;
}
.language {
    justify-content: end;
}
.dropdown-language {
    background-color: white;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 110vh;
    margin-top: 0;
}
.form-btn {
    width: 90%;
    border-radius: 6px;
    background-color: #7C0514;
    margin: 0 5px 0 5px;
}
.my-form-label {
    margin-bottom: 0px;
}
.my-navbar-toggler {
    border-radius: 6px;
    background-color: black;
}
.img {
    margin-top: 2px;
    height:180px;
    width: 200px; 
}
.search {
    position: absolute;
}
.form-search {
    background-color: white;
    position: relative;
    right:20px;
    z-index:3;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    border-radius: 36px;
    padding-left: 10px;
}
.form-autocomplete {
    position:absolute;
    z-index:2;
    margin-top: 25px;
    padding: 8px;
    background-color: white;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 6px;
    padding-left: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    border: solid 1px black;
}
.li-search {
    border-bottom: solid 1px #484545;
    font-size: small;
}
.link-search {
    text-decoration: none;
    color: #484545;
}
.custom-dropdown-toggle::after {
    border: 0 !important;
}
/*css to make the site responsive*/
@media screen and (max-width: 1800px) {
    .navbar-box {
        height: 29vh;
    }  
    .fa-navbar {
        left: 23vh;
    }
    .dropdown-language {
        position: absolute;
        margin-left: 65vh;
        margin-top: 0;
        z-index: 4;
    }
  }
@media screen and (max-width: 1000px) {
    .navbar-box {
        height: 42vh;
    }  
    .menu {
        width: 20%;
    }
    .navbar-container {
        margin: auto;
    }
    .language {
        border-radius: 6px;
        margin-left: 2rem;
        font-size: small;
    }
    .my-collapse {
        margin-top: 40px;
        background-color: #7C0514;
        border-radius: 6px;
        width: 20vh;
        height: 41vh;
        position:absolute;
        z-index: 4;
    }
    .link-collapse {
        border-bottom: solid 1px black;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        color: black;
    }  
    .icon {
        margin: 0;
        font-size: small;
    }
    .my-btn {
        margin: 0px;
        padding: 0;
    }
    .my-btn:focus {
        outline: none;
        box-shadow: none;
      }
    .hide-buttons {
        display: contents;
        visibility: visible;
      }
    .show-buttons {
        display: none;
        visibility: hidden;
    }
    .chatbot-control {
        width: 80%;
    }
    .dropdown-language {
        margin-left: 0;
    }
  }
  @media screen and (max-width: 1000px) {
    .navbar-box {
        height: 20vh;
    }
    .my-collapse {
        height: 290.vh;
    }
  }
@media screen and (max-width: 550px) {
    .language {
        border-radius: 6px;
        margin-left: 2rem;
        font-size: xx-small;
        z-index: 3;
    } 
    .my-collapse {
        font-size: small;
        z-index: 3;
        height: 42vh;
    }
    .img {
        height: 100px;
        width: 100px;
    }
    .menu {
        margin-right: 40px;
    }
}
@media screen and (max-width: 380px) {
    .navbar-container {
        display: flex;
        flex-wrap: nowrap;
    }
    .my-collapse {
        height: 34vh;
    }
    .menu {
        margin-right: 40px;
    }
    .dropdown-language {
        left: 50rem;
        top: 0;
    }
}
