.hello {
    color: white;
}
.profile {
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    min-height: 45vh;
}
.order-description {
    display: flex;
    gap: 50px;
    width: 20%;
    font-size: large;
}
.order {
    border: solid 1px black;
    border-radius: 6px;
    padding: 3px;
    width: 65%;
    height: fit-content;
}
.details {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    width: 100%;
}
.my-details {
    margin-left: 40px;
}
.profile-fa {
    transform: rotate(-90deg);
}
.profile-fa-active {
    transform: rotate(0deg);
}
.btn-container {
    width: 100%;
    margin-bottom: 20px;
}
.btn-logout {
    background-color: black;
    color: #7C0514;
    padding: 3px;
    font-size: 36px;
    font-weight: 500;
    padding: 9px 41px 9px 41px;
    border-radius: 6px;
    border: 0px;
}
.big-title {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.return-second {
    text-decoration: none;
    color: black;
    padding: 3px;
}  
.return-second:hover {
    color: #484545;
    font-weight: 500;
} 
.details-data {
    padding: 3px;
    width: 100%;
    position: static;
}
/*css to make the site responsive*/
@media screen and (max-width: 500px) {
    .btn-logout {
        font-size: 16px;
        padding: 6px 22px;
    }
    h4, .fa-box-open  {
        font-size: small;
    }
    .order-description {
        gap: 20px;
    }
    .my-details {
        margin-left: 20px;
    }
    .status {
        margin-right: 20px;
    }
}