.reset-big-box {
    text-align: center;
}
.reset-box {
    background-color: black;
    border-radius: 6px;
    width: 60%;
    height: 24rem;
    padding-top: 5vh;
    margin: auto;
}
.reset-title {
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
.paragraf {
    color: white;
}
.reset-input {
    padding-left: 30px;
    height: 7vh;
    font-size: 24px;
}
.btn-send {
    background-color: #7C0514;
    color: black;
    padding: 3px;
    font-weight: 700;
    margin-left: 20px;
    font-size: 36px;
    font-weight: 500;
    padding: 9px 41px 9px 41px;
    border-radius: 6px;
    border: 0px;
}
.logo {
    margin-top: 5px;
    height:180px;
    width: 200px; 
}
.my-modal {
    background-color: #484545;
    color: black;
    border-radius: 6px;
    width: 60%;
    height: 30rem;
    padding-top: 5vh;
    margin: auto;
    align-items: center;
}