@import url('index.css');
.shoppingcart-container {
    background-color: var(--background);
  }
.shipping-main {
    position: relative;
}
.cart-title {
    text-align: center;
    color: var(--text-primary);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 80px;
    margin-bottom: 20px;
}
.cart-description {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: var(--text-primary);
    border-bottom: solid 1px var(--text-primary);
    padding: 5px;
    font-size: 35px;
    font-weight: 500;
}
.img-cart {
    width: 85px;
    border-radius: 6px;
}
.product-order1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-primary);
    width: 60%;
}
.price {
    text-align: end;
}
.product-order2 {
    display: flex;
    color: var(--text-primary);
    width: 30%;
}
.quantity{
    margin-left: 100px;
}
.shopping-cart {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--text-primary);
}
.cart-details1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-primary);
    width: 60%;
    margin: 15px 0 15px 0;
    line-height: 15px;
    font-size: 30px;
}    
.cart-details2 {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
}
.cart-details3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-primary);
    width: 30%;
    margin: 15px 0 15px 0;
    font-size: 30px;
}
.set-btn {
    display:inline-flex;
    height: 44px;
}
.btn-price1 {
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 6px 0 0 6px;
    border: solid 1px black;
    padding: 6px;
    text-align: center;
}
.btn-price2 {
    background-color: white;
    color: black;
    font-size: 20px;
    border: solid 1px black;
    border-radius: 0 6px 6px 0;
    text-align: center;
    padding: 6px;
}
.btn-price-middle {
    background-color: white;
    color: black;
    border: solid 1px black;
    width: 40px;
    font-size: 20px;
    text-align: center;
    padding: 6px;
}
.cart-form {
    color: var(--text-primary);
    font-size: 35px;
    font-weight: 500;
}
.cart-form-check {
    margin: 0;
}
.btn-Check {
    background-color: black;
    color: var(--background);
    font-weight: 500;
    font-size: 30px;
    margin-left: 20px;
    padding: 7px 25px 7px 25px;
    border-radius: 6px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}
.btn-set-check {
    display: grid;
    margin: auto;
    padding: 0;
    justify-content: end;
}
.return-second {
    cursor: pointer;
}
.btn-delete-shopping {
    color: var(--text-primary);
    visibility: hidden;
    margin-top: 10px;
}
.shopping-cart:hover .btn-delete-shopping {
    visibility: visible;
}
.cart {
    color: black;
    font-size: 25px;
}
.link-shopping  {
    color: var(--text-primary);
    font-size: 25px;
    cursor: pointer;
}
.form-shooping  {
    color: var(--text-primary);
    margin: 8px;
    font-size: 25px;
    border-radius: 6px;
}
.return-shipping {
    cursor: pointer;
    color: black;
}    
.thanks {
    background-image: url(https://images.pexels.com/photos/386024/pexels-photo-386024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    border: solid 1px black;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
    width: 100%;
    height: 80vh;
    margin: auto;
    padding-top: 30vh;
}
.thanks-message {
    text-align: center;
    color: var(--background);
    background-color: #B1AFAF;
    border-radius: 6px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    margin: auto;
}
@media screen and (max-width: 500px) {
    .cart-title {
        font-size: 30px;
    }
}