.my-container {
    color: black;
}
.contact {
    margin-left: 20px;
}
.title {
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}